body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  border: 10px solid white;
  border-top: 0px;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 10px;
}